doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')

		script(type='text/javascript' src='js/jquery-2.1.4.js')
	body
		header
			nav
				ul
					li Inicio
					li Clasificación
					li Jornada

		main
			block content

		footer
