doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		header
			nav
				ul
					li Inicio
					li Clasificación
					li Jornada

		main
			block content

		footer