extends layout

block content
	h1 List
	ul#fixtures

	a(href='index.html') Ver solo HTML

	script(type='text/javascript' src='js/Fixtures.js')

	script(type='text/javascript').
		$(document).ready(function listReady(e) {
			var fixtures = Fixtures();
			fixtures.load(1);
			fixtures.print('#fixtures');
		});