* {
	margin: 0px;
	padding: 0px;
}

body {
	font: 14px "Lucida Grande", "Fira mono", Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
}

header, nav {
	margin: auto;
	width: 100%;
	max-width: 1024px;
}

nav ul li {
	padding: 10px;
	display: inline;
}

ul.fixtures li {
	padding: 5px 0;
}

ul.pagination li {
	display: inline;
}

main {
	margin: auto;
	padding: 32px;
	max-width: 960px;
	min-height: 960px;
	background-color: lightgray;
}

main section {

}

footer {
	clear: both;
}

a {
	color: #00B7FF;
}